body {
    background-color: #f0f0f0;
    padding: 1%;
    box-sizing: border-box;

}

main {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1)
}


h2 {color: blue;}